exportPattern("^hpax_")
exportPattern("^pax_")

# R/pax_connect.R
S3method(pax::pax_disconnect, hafropax)

# R/pax_ldist.R
S3method(pax::pax_ldist, hafropax)
S3method(pax::pax_aldist, hafropax)
S3method(pax::pax_ldist_scale_abund, hafropax)

# R/pax_catch.R
S3method(pax::pax_catch, hafropax)

# R/pax_si.R
S3method(pax::pax_si, hafropax)

# R/pax_sampling.R
S3method(pax::pax_sampling, hafropax)

# R/pax_measurement.R
S3method(pax::pax_measurement, hafropax)

# R/pax_vocab.R
S3method(pax::pax_add_sampling_type_desc, hafropax)

# R/pax_dat.R
S3method(pax::pax_dat_noaa_bathymetry, hafropax)
S3method(pax::pax_dat_lw_coeffs, hafropax)
S3method(pax::pax_dat_reitmapping, hafropax)
S3method(pax::pax_dat_strata_stations, hafropax)
S3method(pax::pax_dat_strata_attributes, hafropax)
S3method(pax::pax_dat_strata_areas, hafropax)
